# A simple Linear Regression model to deploy

### Required libs

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

#### Read input filem

In [7]:
df = pd.read_csv(r'D:\Deploy Model\SalaryData.csv')

In [8]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [30]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 1].values

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

#### create model

In [32]:
lin_reg = LinearRegression()

In [33]:
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

#### Preditc unseen data

In [34]:
lin_reg.predict([[6]])

array([81880.56799369])

#### Import libraries for pickle

In [35]:
from sklearn.externals import joblib

In [37]:
joblib.dump(lin_reg, "lin_reg_salary.pkl")

['lin_reg_salary.pkl']